.nav-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
}
#sub-element {
  display: none;
}

#sub-element:hover {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 20px;
  left: 60px;
  padding-top:20px;
}
.nav-menu li {
  margin-right: 40px;
}
li:hover {
  color: lightseagreen;
}
.dropdown:hover + #sub-element {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 20px;
  left: 60px;
  padding-top:20px;
}
